.nav {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 0.5vw 2vw;
    z-index: 1000000;
}

.nav img {
    cursor: pointer;
}

.nav-links {
    display: flex;
    gap: 3vw;
    font-size: 1.01em;
    font-weight: 600;
    letter-spacing: 0.01vw;
}

.navs-items {
    cursor: pointer;
    color: white;
}

.navs-items:hover {
    color: var(--primaryColor);
    text-decoration: underline;
}

.social-links {
    gap: 2vw;
}

#bar {
    display: none;
}

.nav-links a:hover,
.nav-links a:active {
    color: var(--primaryColor);
}

@media screen and (max-width: 426px) {
    #bar {
        display: block;
        z-index: 1;
        font-size: 2em;
        color: var(--secondaryColor);
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 50%;
        top: 0;
        height: 100vh;
        background: black;
        opacity: 0.7;
        right: 0;
        bottom: 0;
        padding: 120px 20px;
        gap: 13vw;
        transform: translateX(0%);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .active {
        transform: translateX(100%);
    }
}
