.nav {
    background: transparent;
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 0.5vw 2vw;
    z-index: 1000000;
    
}

.nav img {
    cursor: pointer;
    
}

.nav-links {
    display: flex;
    gap: 3vw;
    font-size: 1.01em;
    font-weight: 600;
    letter-spacing: 0.01vw;
    
}

.navs-items {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.navs-items:hover {
    color: var(--primaryColor);

}

.social-links {
    gap: 2vw;
}

#bar {
    display: none;
}

.nav-links a:hover,
.nav-links a:focus {
    color: var(--primaryColor);
    text-decoration: line-through;
}

@media screen and (max-width: 426px) {
    #bar {
        display: block;
        z-index: 1;
        font-size: 2em;
        color: var(--secondaryColor);
    }
    .nav img{
        margin-top: 2vw;
    }
.nav-links {
    display: flex;
    flex-direction: column;
    position: fixed; /* Change from absolute to fixed */
    width: 50%;
    top: 0;
    height: 100vh;
    background: black;
    opacity: 0.7;
    right: -50%; /* Adjust this value to set the initial position off-screen */
    padding: 120px 20px;
    gap: 13vw;
    transition: opacity 0.3s ease, right 0.3s ease;
    overflow-y: auto; /* Add this line to enable vertical scrolling if needed */
}


    .active {
        transform: translateX(100%);
    }
}

@media screen and  (max-width : 620px) {
    #bar {
        display: block;
        z-index: 1;
        font-size: 2em;
        color: var(--secondaryColor);
    }
    .nav img{
        margin-top: 2vw;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 50%;
        top: 0;
        height: 100vh;
        background: black;
        opacity: 0.7;
        right: 0;
        bottom: 0;
        padding: 120px 20px;
        gap: 13vw;
        transform: translateX(0%);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .active {
        transform: translateX(100%);
    }
}
