.nav {
    background: transparent;
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 0.5vw 2vw;
    z-index: 1000000;
    
}

.nav img {
    cursor: pointer;
    
}

.nav-links {
    display: flex;
    gap: 3vw;
    font-size: 1.01em;
    font-weight: 600;
    letter-spacing: 0.01vw;
    
}

.navs-items {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.navs-items:hover {
    color: var(--primaryColor);

}

.social-links {
    gap: 2vw;
}

#bar {
    display: none;
}

.nav-links a:hover,
.nav-links a:focus {
    color: var(--primaryColor);
    text-decoration: line-through;
}

@media screen and (max-width: 426px) {
    #bar {
        display: block;
        z-index: 1;
        font-size: 2em;
        color: var(--secondaryColor);
    }
    .nav img{
        margin-top: 2vw;
    }
.nav-links {
    display: flex;
    flex-direction: column;
    position: fixed; /* Change from absolute to fixed */
    width: 50%;
    top: 0;
    height: 100vh;
    background: black;
    opacity: 0.7;
    right: -50%; /* Adjust this value to set the initial position off-screen */
    padding: 120px 20px;
    gap: 13vw;
    transition: opacity 0.3s ease, right 0.3s ease;
    overflow-y: auto; /* Add this line to enable vertical scrolling if needed */
}


    .active {
        transform: translateX(100%);
    }
}

@media screen and  (max-width : 620px) {
    #bar {
        display: block;
        z-index: 1;
        font-size: 2em;
        color: var(--secondaryColor);
    }
    .nav img{
        margin-top: 2vw;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 50%;
        top: 0;
        height: 100vh;
        background: black;
        opacity: 0.7;
        right: 0;
        bottom: 0;
        padding: 120px 20px;
        gap: 13vw;
        transform: translateX(0%);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .active {
        transform: translateX(100%);
    }
}


/* HTML: <div class="loader"></div> */
.loader {
    width: 100px;
    height: 45px;
    position: relative;
    display: grid;
    place-items: center;
    z-index: 500000;
  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    inset: 0;
    background: #000;    
    box-shadow: 0 0 0 50px;
    clip-path: polygon(-50px -20px,10% -12px,20% 0,calc(50% - 15px) 0,calc(50% - 10px) -20px,calc(50% - 8px) -15px,calc(50% + 8px) -15px,calc(50% + 10px) -20px,calc(50% + 15px) 0,80% 0,90% -12px,calc(100% + 50px) -20px,100% 80%,calc(100% + 10px) calc(100% + 10px),60% 100%,50% calc(100% + 15px),40% 100%,-10px calc(100% + 10px),0 80%);
  }
  .loader:after {
    animation: l9 1s infinite;
    transform: perspective(300px) translateZ(0px)
  }
  @keyframes l9 {
    to {transform:perspective(300px) translateZ(100px);opacity:0}
  }